@import './reset.css';

html,
body {
  --black: #000000;
  --blue: #00dfcf;
  --green: #9ef100;
  --orange: #ff6f00;
  --pink: #d80076;
  --purple: #7901bb;
  --white: #ffffff;
  --yellow: #ffff00;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-family: 'Karla', 'Helvetica', sans-serif;
  font-size: 2rem;
}

a,
button,
p {
  font-size: 1.25rem;
}

main {
  background: var(--black);
}

#background-vid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -3;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--purple), var(--blue));
  opacity: 0.6;
  z-index: -2;
}

.vignette {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, transparent, var(--black));
  z-index: -1;
}

