header,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

main, footer {
  background: var(--black);
}

section {
  margin: 0 auto;
  width: 80%;
}