.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 40px;
  font-family: "Karla", "Helvetica", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(var(--black), transparent);
  z-index: 1;
}

.expandContainer {
  margin-right: 20px;
  height: 20px;
}

.expand,
.expand:before,
.expand:after {
  display: block;
  width: 20px;
  border-bottom: 2px solid var(--white);
  content: "";
  transition: transform 0.25s;
}

.expand:before {
  transform: translateY(10px);
}

.expand:after {
  transform: translateY(14px);
}

.expand.open {
  transform: rotate(45deg) translate(5px, 5px);
}

.expand.open:before {
  transform: rotate(90deg) translate(3px, 0);
}

.expand.open:after {
  transform: rotate(90deg) translate(2px, 0);
}

.items {
  position: relative;
  right: -1000px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: right .25s;
}

.nav.open .items {
  right: 0;
}

.item {
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    background: none;
  }

  .expandContainer {
    margin: 20px 20px 0 0;
  }
  
  .expand {
    align-self: flex-end;
  }
  
  .items {
    flex-direction: column;
    padding: 40px;
    background: linear-gradient(to left, var(--black) 25%, transparent);
  }

  .item {
    align-self: flex-end;
    margin: 0 0 10px 0;
  }
}
